{% extends "base.html" %}

{% block content %}
<div class="page-container">
    <div class="container">
        <h1>{{ term.name }}</h1>
        <p>A collection of {{ term.pages | length }} posts</p>
        
        <div class="blog-list">
            {% for page in term.pages %}
            <div class="blog-post-card">
                <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
                <div class="post-meta">
                    <span class="post-date">{{ page.date | date(format="%B %d, %Y") }}</span>
                    {% if page.taxonomies.tags %}
                    <div class="post-tags">
                        {% for tag in page.taxonomies.tags %}
                        <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <p>{{ page.description }}</p>
                <a href="{{ page.permalink }}" class="read-more">Read More</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
